.App .next-button a {
    border: 2px solid;
    border-bottom: 0;
    font-size: 4em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    color:#FFF
}

.App .next-button a:hover,
.App .next-button a:focus {
	color:#FFFAAF
}
